.container-fluid{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.row {
  display: flex; /* equal height of the children */
  background:rgb(247, 246, 246);
}

.col {
  justify-content: center;
  text-align: center;
  width: 350px !important;
	
  border: solid;
}

.mat-calendar{
  display: inline-block;
  width: 250px !important;
  height: 250px !important;
}

.table-responsive{
  display: inline-block;
  width: 350px !important;
}

th {
  text-align: center;
}
