Forgot Password
<br>
<br>
<button mat-raised-button color="primary" routerLink="/home">
    Home
</button>

<mat-card>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">

        <p>A password-reset email will be sent to...</p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button color="primary" [disabled]="mailSent">Reset my password</button>
        <div *ngIf="mailSent">
            <p>An email has been sent!</p>
        </div>
    </form>
</mat-card>