<h2>Forgot Password? Just reset below.</h2>
<br>
<br>

<!-- <mat-card>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">

        <p>A password-reset email will be sent to...</p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
            </mat-form-field>
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
            <span>{{ firebaseErrorMessage }}</span>
        </div>

        <button mat-raised-button color="primary" [disabled]="mailSent">Reset my password</button>
        <div *ngIf="mailSent">
            <p>An email has been sent!</p>
        </div>
    </form>
</mat-card> -->

<body>
    <div class="container-fluid">

    </div>
    <section class="vh-100 bg-image gradient-custom-2">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100 gradient-custom-2 ">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Reset Password</h2>
                                <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">

                                    <p>A password-reset email will be sent to...</p>
                                    <p>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input autocomplete="off" formControlName="email" type="email" matInput
                                                placeholder="Email">
                                        </mat-form-field>
                                    </p>

                                    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                                        <span>{{ firebaseErrorMessage }}</span>
                                    </div>

                                    <button mat-raised-button color="primary" [disabled]="mailSent">Reset my
                                        password</button>
                                    <div *ngIf="mailSent">
                                        <p>An email has been sent!</p>
                                    </div>
                                    <button mat-raised-button color="primary" routerLink="/home">
                                        Home
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>