<div class="m-2 p-2 list-group">
	<div class="list-group-item bg-secondary text-white">
		<div style="font-weight: bold;" class="d-flex align-items-center">
			<div style="width: 25%" class="">Date</div>
			<div style="width: 25%" class="">Office Location</div>
			<div style="width: 20%" class="">Workspace</div>
		</div>
	</div>

	<button *ngFor="let reservation of reservations" (click)=selectReservation(reservation)
		class="link list-group-item list-group-item-action" [class.active]="selectedReservation === reservation">
		<div class="d-flex align-items-center bd-highlight">
			<div style="width: 25%" class="bd-highlight">{{reservation.date}}</div>
			<div style="width: 25%" class="bd-highlight">{{reservation.workspace.office.name}}</div>
			<div style="width: 20%" class="bd-highlight">{{reservation.workspace.workspaceType.name}}
				{{reservation.workspace.spaceNumber}}</div>
			<div style="width: 25%" class="btn-group btn-group-sm"
				[ngClass]="{hidden: !(selectedReservation === reservation)}" role="group" aria-label="Modify Reservation">
				<button type="button" class="w-50 btn btn-light res-btn">View</button>
				<button type="button" (click)=deleteReservation() class="w-50 btn btn-danger res-btn">Delete</button>
			</div>
		</div>
	</button>

	<nav class="text-center" aria-label="Reservation page navigation">
		<ul class="pagination">
			<li class="page-item disabled">
				<a class="page-link" tabindex="-1">Previous</a>
			</li>
			<li class="page-item active"><a class="page-link">1</a></li>
			<li class="page-item"><a class="page-link">2</a></li>
			<li class="page-item"><a class="page-link">3</a></li>
			<li class="page-item">
				<a class="page-link">Next</a>
			</li>
		</ul>
	</nav>
</div>