<!-- Main dashboard page. Contains navbar and workspace availability content -->
<!DOCTYPE html>
<html>

<head>
	<!-- icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<app-navbar></app-navbar>

<body>
	
	<!-- Dashboard Content -->
	<div class="container-fluid">
		<div class="row">
			<div class="">

				<h2>Reservation Dashboard</h2>

				<label for="reservationlocation">Office Location </label>
				<br>
				<li><select class="browser-default custom-select" (change)="selectedOffice($event)">
					<option *ngFor="let office of offices;let indexOfOffice=index;"
						[attr.selected]="office == 0 ? true : null" value="{{ indexOfOffice }}">{{
						office.name }}</option>
				</select></li>
				<br>

				<form #dateselect="ngForm" (ngSubmit)="selectDate(dateselect.value)">
					<label for="reservationdate">Select Date of Reservation</label>
					<input type="date" name="date" id="reservationdate" ngModel>
					<input type="submit" value="submit">
				</form>

				<br>

				<!-- Main Content Section (where workspace view will go)-->
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Workspace <br>  {{selectedOffice.name}} </th>
								<th scope="col">Availability <br> {{selectedDate}} </th>

							</tr>
						</thead>
						<tbody>
							<tr mdbTableCol *ngFor="let workspace of workspaces">
								<th scope="row">{{workspace.workspaceType.name}} {{workspace.spaceNumber}} <br>
									<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#infoModal">
										<i class="fa fa-info-circle"></i>
									</button>
								</th>
								<td>{{checkAvailability(workspace)}}
									<br>
									<input type="button" value="Reserve" (click)="reserveWorkspace(workspace, requestedID.value)" />
									<input type="text" name="requestedID" #requestedID placeholder="requested ID" />
									<input type="button" value="Make Permanent" (click)="makePermanent(workspace, requestedID.value)" />
									<input type="button" value="Remove Permanent" (click)="removePermanent(workspace)" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Reservations list of current user >
				<app-reservations-list></app-reservations-list -->

				<!-- Profile of current user >
				<app-user-profile></app-user-profile -->

			</div>

			<!-- Workspace information modal  -->
			<!-- TODO: needs to be dynamic based on selected space -->
			<div class="modal" id="infoModal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Workspace Information</h4>
							<button type="button" class="btn-close" data-bs-toggle="tooltip" title="Workspace information"data-bs-dismiss="modal"></button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<div class="col-md-5 p-3">
								<img src="https://icon-library.com/images/desk-icon/desk-icon-28.jpg" alt="workspace image" width="200" height="200">
							</div>
							
							<div class="col-md-7 p-3"> Capacity: //workspace capacity
								<br> Equipment: //workspace features
								<br> Notes: //workspace issues or notes
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<!-- TODO: button to reserve displayed workspace -->
							<button type="button" class="btn btn-primary btn fa-lg gradient-custom-2 mb-3 disabled">Reserve</button>
							<button type="button" class="btn btn-primary btn fa-lg gradient-custom-2 mb-3"
								data-bs-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
	
</body>