<!-- Main dashboard page. Contains navbar and workspace availability content -->
<!DOCTYPE html>
<html>

<head>
	<!-- icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid gradient-custom-2 ">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" href="#" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Office Location
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<label>Current Selection</label>
							<li><select class="browser-default custom-select" (change)="selectOffice($event)">
									<option *ngFor="let office of offices;let indexOfOffice=index;"
										[attr.selected]="office == 0 ? true : null" value="{{ indexOfOffice }}">{{
										office.name }}</option>
								</select></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Reservations
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" routerLink="/reservations">Manage Reservations</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<i class='fas fa-user-astronaut'> <img
									src="https://icon-library.com/images/username-icon-png/username-icon-png-19.jpg"
									width="30" height="30" class="rounded-circle"></i> Profile </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">My Account</a></li>

						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link active" href="#" aria-expanded="false" href="#" (click)="logout()">Log
							out</a>

					</li>
				</ul>
			</div>
			<!-- CallMiner Logo -->
			<div class="text-right">
				<a class="navbar-brand" href="#">
					<img src="https://images.ctfassets.net/xj0skx6m69u2/cFRNy2dkU6bRc2iRmk7tF/6f1fc904dea9217c746c0b5cfd9eaa32/Logo_CallMiner_Color.svg"
						alt=""></a>
			</div>
		</div>
	</nav>


	<!-- Dashboard Content -->
	<div class="container-fluid">
		<div class="row">
			<div class="">

				<h2>Reservation Dashboard</h2>

				<label for="reservationlocation">Office Location <br> {{selectedOffice?.name}} </label>
				<br><br>

				<form #dateselect="ngForm" (ngSubmit)="selectDate(dateselect.value)">
					<label for="reservationdate">Select Date of Reservation</label>
					<input type="date" name="date" id="reservationdate" ngModel>
					<input type="submit" value="submit">
				</form>

				<!-- Main Content Section (where workspace view will go)-->
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Workspace <br> {{selectedOffice?.name}} </th>
								<th scope="col">Availability <br> {{selectedDate}} </th>

							</tr>
						</thead>
						<tbody>
							<tr mdbTableCol *ngFor="let workspace of workspaces">
								<th scope="row">{{workspace.workspaceType.name}} {{workspace.spaceNumber}} <br>
									<button type="button" class="btn btn-link" data-bs-toggle="modal"
										data-bs-target="#infoModal">
										<i class="fa fa-info-circle"></i>
									</button>
								</th>
								<td>{{checkAvailability(workspace)}}
									<br>
									<input type="button" value="Reserve" (click)="reserveWorkspace(workspace)" />
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<!-- Current user's reservations list -->
				<app-reservations-list></app-reservations-list>

			</div>
			<!-- Workspace information modal  -->
			<!-- TODO: needs to be dynamic based on selected space -->
			<div class="modal" id="infoModal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Workspace Information</h4>
							<button type="button" class="btn-close" data-bs-toggle="tooltip"
								title="Workspace information" data-bs-dismiss="modal"></button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<div class="col-md-5 p-3">
								<img src="https://icon-library.com/images/desk-icon/desk-icon-28.jpg"
									alt="workspace image" width="200" height="200">
							</div>
							<div class="col-md-7 p-3">
								Capacity: //workspace capacity
								<br>
								Equipment: //workspace features
								<br>
								Notes: //workspace issues or notes
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<!-- TODO: button to reserve displayed workspace -->
							<button type="button"
								class="btn btn-primary btn fa-lg gradient-custom-2 mb-3 disabled">Reserve</button>
							<button type="button" class="btn btn-primary btn fa-lg gradient-custom-2 mb-3"
								data-bs-dismiss="modal">Close</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>