<body>

    <!-- Login form -->
    <section class="h-100 gradient-form" style="background-color: rgb(93, 92, 95);">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h1 class="mb-1">Workspace Scheduler</h1>
                                    <h4 class="mb-4">CallMiner sponsored senior capstone project</h4>
                                    <h5 class="mb-5">Creators - Brendan Chase, Gant Innes, Rachel Matthews, Ken
                                        Orsini </h5>
                                    <button mat-raised-button color="black" routerLink="/dashboard">
                                        Dashboard
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://images.ctfassets.net/xj0skx6m69u2/cFRNy2dkU6bRc2iRmk7tF/6f1fc904dea9217c746c0b5cfd9eaa32/Logo_CallMiner_Color.svg"
                                            style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Ready to schedule a space?</h4>
                                    </div>

                                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="" action="/examples/actions/confirmation.php" method="post">
                                       
                                            
                                        <h4 class="modal-title">Login to your account</h4>
                                        
                                        <mat-card>
                                        
                                            <mat-form-field appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input autocomplete="off" formControlName="email" type="email" matInput placeholder="Email">
                                            </mat-form-field>
                                        
                                        
                                            <mat-form-field appearance="outline">
                                                <mat-label>Password</mat-label>
                                                <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
                                            </mat-form-field>
                                         
                                          <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                                                <span>{{ firebaseErrorMessage }}</span>
                                          </div>
                                        </mat-card>
                              
                                        <p></p>  
                              
                                      <button mat-raised-button color="primary">Login</button>
                                      
                                      
                                        <div>
                                                <a class="text-muted" type="button" routerLink="/forgot-password">Forgot
                                                password?</a>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Don't have an account?</p>
                                            <button type="button" class="btn btn-outline-danger"
                                                routerLink="/signup">Sign up here!</button>
                                        </div>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>