div,
.res-btn {
  font-size: 1vw;
}

m-2, p-2, .list-group{
  background-color: #E7ECEF;
}

/* 480 and 768 */
@media screen and (max-width: 1200px) {
  div,
  .res-btn {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 768px) {
  div,
  .res-btn {
    font-size: 2.25vw;
  }
}
