:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body{
    background-color: rgb(93, 92, 95);
  }
  
  button {
    margin-right: 5px;
}

  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #e29b43;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ff5003, #e5b595, rgb(202, 200, 200), #819fb3, #35619d);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ff5003, #e5b595, rgb(202, 200, 200), #819fb3, #35619d);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }

  