.container-fluid {
    background-color: white;
    margin: 1em 0px;
    border-radius: 0.3rem;
    box-shadow: black 0px 1px 8px;
    padding: 16px;
    border-radius: 4px;
}

button {
    margin-right: 2px;
}

.navbar-light {
    font-size: large;
} 

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #e29b43;;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,#ff5003, #e5b595, rgb(202, 200, 200), #819fb3, #35619d);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ff5003, #e5b595, rgb(202, 200, 200), #819fb3, #35619d);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }

body {
	color: rgb(5, 5, 5);
	background: rgb(223, 220, 228);
	font-family: 'Varela Round', sans-serif;
}

mat-form-field {
  margin-right: 12px;
  font-size: 14px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #feb57f;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right,  #ff5003, #e5b595, rgb(202, 200, 200), #819fb3, #35619d);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ff5003, #e5b595, rgb(202, 200, 200), #819fb3, #35619d);
}