<!-- Forgot password screen -->

<!DOCTYPE html>

<body>
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100" style="background-color: rgb(223, 220, 228);">
            <div class="container h-100" style="background-color: rgb(223, 220, 228);">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Reset Password</h2>
                                <br>
                                <br>
                                <form [formGroup]="forgotPasswordForm" (ngSubmit)="retrievePassword()" type="">

                                    <p>A password-reset email will be sent to...</p>
                                   <!--  <p>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input autocomplete="off" formControlName="email" type="email" size="47" matInput
                                                placeholder="Email">
                                        </mat-form-field>
                                    </p> -->

                                    <div class="form-outline mb-4">
                                        <input autocomplete="off" formControlName="email" type="email" size="47"
                                            matInput placeholder="Email" /><br>
                                        <label class="form-label" for="form2Example22">Email</label>
                                    </div>

                                    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                                        <span>{{ firebaseErrorMessage }}</span>
                                    </div>
                                    <br>
                                    <button mat-raised-button color="primary" class="btn btn-primary btn fa-lg gradient-custom-2 mb-3" [disabled]="mailSent">Reset my
                                        password</button>
                                    <div *ngIf="mailSent">
                                        <p>An email has been sent!</p>
                                    </div>
                                    <button mat-raised-button class="btn btn-primary btn fa-lg gradient-custom-2 mb-3" color="btn-light" routerLink="/home">
                                     Home
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>